# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Ambientes virtuais (se você criar um localmente, mesmo que não seja usado na imagem)
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de IDE
.idea/
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db